body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #a5a5a5;
}

body span {
    text-align: center !important;
}

.container1, .container2, .container3 {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 10px 10px;
}

h1, h2 {
    text-align: center;
}

textarea {
    width: 99%;
    height: 150px;
    margin-top: 10px;
}

input, button {
    width: 96%;
    padding: 10px;
    margin-top: 10px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrasai {
    width: 25%;
    justify-self: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45A049;
}

#exit-button {
    background-color: #f44336;
}

#exit-button:hover {
    background-color: #da190b;
}

#mov-button {
    background-color: #3639f4;
}

#mov-button:hover {
    background-color: #0b5eda;
}

.input-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

.container3 {
  margin-top: 20px;
  padding: 10px;
}

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
}

.card-produto {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  width: 220px;
  background-color: #f9f9f9;
  transition: 0.2s;
}

.card-produto:hover {
  background-color: #eaeaea;
  transform: scale(1.02);
}

.card-produto h4 {
  margin: 0 0 6px;
  font-size: 16px;
}

.card-produto p {
  margin: 3px 0;
  font-size: 14px;
}